# Visual Studio cache directory
.vs/
.vscode/

# UnityExtended Compilations
UnityExtended/obj/
UnityExtended/bin/

# UnityExtendedEditor Compilations
UnityExtendedEditor/obj/
UnityExtendedEditor/bin/
